/* App.css */
.container {
  overflow-y: auto; 
  overflow-x: hidden; 
  width: 100vw; 
  height: 100vh; 
  background-position: center; 
  background-size: cover; 
  background: url('./assets/background.jpg');
}

.content {
  padding: 2rem; 
  margin-top: 2.5rem;
  margin-bottom: 2.5rem; 
  border-radius: 0.5rem; 
  width: 91.666667%; 
  background-color: #F3F4F6; 
}

@media (min-width: 1024px) { 
  
 }

.fixed-table {
  margin-bottom: 2.5rem; 
  border-radius: 0.5rem; 
  font-size: 2.25rem;
  line-height: 2.5rem; 
  font-weight: 700; 
  text-align: center; 
  color: #000000; 
  
}

.fixed-table th,
.fixed-table td {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; 
  padding-left: 1rem;
  padding-right: 1rem; 
}

.custom-dropdown {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem; 
  padding-left: 0.5rem;
  padding-right: 0.5rem; 
  border-radius: 0.5rem; 
  width: 100%; 
  
}

.add-button, .checkout-button, .confirm-button {
padding-top: 0.5rem;
padding-bottom: 0.5rem; 
padding-left: 1rem;
padding-right: 1rem; 
margin-top: 1rem; 
border-radius: 0.5rem; 
color: #ffffff; 
background-color: #10B981; 
:hover {
 background-color: #059669; 
 }

}

.delete-button {
  background-color: red;
  color: white;
}

.add-button {
  background-color: blue;
  color: white;
}

.checkout-button {
  background-color: green;
  color: white;
}

.confirm-button {
  background-color: #007bff;
  color: white;
}

