.order-item-container {
  border: 1px solid #5e5e5f;
  border-radius: 10px;
  padding: 20px;
}

.order-item-container .order-id,
.order-item-container .customer-name,
.order-item-container .order-amount,
.order-item-container .order-price,
.order-item-container .order-status,
.order-item-container .ship-time {
  color: white;
  font-size: 20px;
  line-height: 2rem;
}
