
  /* Navbar styling */
  .navbar {
    position: fixed;
    display: flex;
    justify-content: space-between; /* Align items left and right */
    top: 0;
    width: 100vw;
    padding: 15px 0px;
    background-color: rgba(0, 0, 0, 0.8); /* Transparent background */
    transition: all 0.3s ease-in-out;
    opacity: 80%;
    z-index: 1000;
  }
  .navbar:hover{
    opacity: 100%;
  }

.nav-list {
  list-style-type: none;
  display: flex;
  gap: 40px;
  padding-left: 1vw;
}
/* Left side navigation list */
.nav-left {
    display: flex;
  }
.nav-item {
  color: white;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-size: 21px;
}

/* Right side login item */
.nav-right {
  display: flex;
  align-items: center; /* Vertically center login item */
  padding-right: 5vw;
}

.nav-item-login {
  color: white;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-size: 21px;
}

.nav-item-login:hover {
    color: #ff7700;
  }

  .nav-item:hover {
    color: #ff7700;
  }