.order-form {
  width: 40%; 
  min-width: 40%;
  height: auto;
  min-height: 100vh;
  overflow-y: scroll;
  background-position: center;
  background-size: cover !important;
  object-fit: cover;
  background: url("../../public/images/homepage2.png");
  display: flex;
  flex-direction: column;
}

.order-form::-webkit-scrollbar {
  width: 0; /* Hide scrollbar */
  background: transparent; /* Ensure background is transparent */
}


.order-form {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.con {
  width: auto;
  min-height: 100vh;
  height: auto;
  background: rgba(226, 230, 255, 0.7);
  overflow-y: auto;
  padding-bottom: 4%;
}



.content {
  padding: 10px;
}

.fixed-table {
  width: auto;
  border-collapse: collapse;
}

.fixed-table th,
.fixed-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.custom-dropdown {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  border-radius: 6px;
  border: #007bff 1px solid;
}

.add-button,
.checkout-button,
.confirm-button {
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.delete-button {
  cursor: pointer;
  padding: 8px 12px;
  background-color: red;
  outline: none;
  border: none;
  border-radius: 8px;
  color: white;
}

.add-button {
  background-color: rgb(75, 75, 205);
  cursor: pointer;
  padding: 8px 12px;
  outline: none;
  border: none;
  border-radius: 8px;
  color: white;
}

.checkout-button {
  background-color: rgb(35, 191, 56);
  cursor: pointer;
  padding: 8px 12px;
  outline: none;
  border: none;
  border-radius: 8px;
  color: white;
  margin-top: 24px;
  font-size: 16px;
}

.confirm-button {
  background-color: #007bff;
  color: white;
}

.sender-info {
  width: 100%;
}

.customer-info {
  width: 100%;
}

.title {
  font-size: 32px;
  text-align: center;
  margin-bottom: 20px;
}

.label-table {
  font-size: 18px;
}

.label-customer {
  margin-bottom: 10px;
  font-size: 20px;
}

.input-customer {
  margin-bottom: 10px;
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  border-radius: 6px;
  border: #007bff 1px solid;
}

.layout-customer {
  margin-top: 40px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 20px;
}

.total-amount {
  font-size: 24px;
  color: #3e19a4;
  margin-top: 8px;
}

.label-total {
  font-size: 18px;
  font-weight: 600;
}

.layout-total {
  margin-top: 32px;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #3c3737d0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-popup {
  background-color: white;
  border-radius: 8px;
  padding: 40px;
}

.title-popup {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 24px;
  color: #007bff;
  text-align: center;
}

.layout-popup {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 32px;
}

.layout-qrcode {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.label-qrcode {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 16px;
}

.layout-btn {
  display: flex;
  align-items: center;
  gap: 0 8px;
  margin-top: 8px;
}

.confirm-btn {
  background-color: #2563eb;
  padding: 8px 16px;
  color: white;
  border-radius: 8px;
  outline: none;
  border: none;
  margin-top: 32px;
  cursor: pointer;
}

.confirm-btn:hover {
  background-color: #16a34a;
}

.cancel-btn {
  margin-top: 32px;
  background-color: #ef4444;
  padding: 8px 16px;
  color: white;
  border-radius: 8px;
  outline: none;
  border: none;
  cursor: pointer;
}

.cancel-btn:hover {
  background-color: #dc2626;
}
